
body{
    background-color: #dbd2cf;
}

#titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;    
    color:#2d5b88;
}

#bienvenida {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    color:#0a223a;

}

#enlace {       
    text-align: center;
    color:#0a223a;
}

#introduccion {
    padding: 130px;
    border: 1px solid;
    background-image: url(imagen.jpg);
}

#verPeliculas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-content: center;

}
#peliculas{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    color:#2d5b88;
}

#lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 40px;
    line-height: 30px;
    font-size: 20px;
    
}
